* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.header {
  background-color: white;
  padding: 20px 5%;
  overflow-x: hidden;
}
.header .bg-body-tertiary {
  background-color: white !important;
}
.header .bg-body-tertiary .container-fluid {
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.header .bg-body-tertiary .container-fluid img {
  max-width: none;
  transition: all 0.3s;
}
.header .bg-body-tertiary .container-fluid img:hover {
  transform: scale(1.2);
}
.header .bg-body-tertiary .nav-item {
  font-size: 20px;
  font-family: "Poppins";
  padding-left: 20px;
  padding-right: 20px;
}
.header .bg-body-tertiary .nav-item .nav-link:hover {
  transform: scale(1.1);
  color: #ffbc0e;
}

.contvideo {
  background-color: #131928;
}
.contvideo .video {
  width: 100%;
}
.contvideo .updisplay {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 1;
  color: white;
  font-size: 20px;
  align-self: center;
}
.contvideo .updisplay .innerdisplay {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -275%);
}
@media (max-width: 1024px) {
  .contvideo .updisplay .innerdisplay {
    transform: translate(-50%, -180%);
  }
}
@media (max-width: 576px) {
  .contvideo .updisplay .innerdisplay {
    transform: translate(-50%, -125%);
  }
}
@media (max-width: 425px) {
  .contvideo .updisplay .innerdisplay {
    transform: translate(-50%, -115%);
  }
}
.contvideo .updisplay .innerdisplay .leading {
  width: auto;
  padding: 10px;
  text-align: center;
  place-self: center;
  font-size: 32px;
  font-size: 5rem;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  margin: 0;
}
@media (max-width: 425px) {
  .contvideo .updisplay .innerdisplay .leading {
    font-size: 3rem;
  }
}
.contvideo .updisplay .innerdisplay .paragraph {
  font-size: 22px;
  padding: 1rem;
  text-align: center;
  place-self: center;
  justify-content: center;
  width: 400px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
}
@media (max-width: 425px) {
  .contvideo .updisplay .innerdisplay .paragraph {
    font-size: 1rem;
  }
}

.fhooter {
  width: auto;
  background-color: #131928;
  padding: 40px;
}
.fhooter .linkfoot {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 20px;
  padding: 1rem;
  font-size: 12px;
  margin: 0;
}
.fhooter .linkfoot .pagesdown {
  text-decoration: none;
  color: white;
  font-family: "Poppins";
}
.fhooter .linkfoot .vertbar {
  color: white;
  font-size: 1rem;
}
.fhooter .linksocial {
  text-decoration: none;
  display: flex;
  padding: 1rem;
  justify-content: center;
  gap: 20px;
  margin: 0;
}
.fhooter .linksocial .iconsocial {
  color: white;
  list-style-type: none;
}
.fhooter .linksocial .iconsocial .redes {
  text-decoration: none;
  color: white;
}
.fhooter .copyright {
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 12px;
  font-family: "Poppins";
  margin: 0;
}

.barraimagen {
  width: 100%;
}

.who {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 40px;
}

.codecraft {
  justify-content: center;
  text-align: justify;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 25px 200px 25px 200px;
  font-family: "Montserrat", sans-serif;
  line-height: 30px;
  font-size: 22px;
}
.codecraft .github {
  color: black;
}

.mainframestore {
  display: flex;
  justify-content: center;
  padding: 20px 50px 50px 50px;
}

.art {
  display: flex;
  padding: 1rem;
}
.art .art-left,
.art .art-right {
  flex: 1;
}
.art .art-left .imgdoble,
.art .art-right .imgdoble {
  max-width: 80%;
}
.art .art-left .footpage,
.art .art-right .footpage {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  padding: 15px;
  font-weight: normal;
  width: -moz-fit-content;
  width: fit-content;
}
.art .art-left .footpage .artprofile,
.art .art-right .footpage .artprofile {
  color: black;
}

.slider {
  padding: 25px 200px 100px 200px;
}

.contenedorvideos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 50px;
}

.grids {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.flexmapa {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 200px;
}
.flexmapa .mapa {
  width: 100%;
}

.infomaps {
  display: flex;
  padding: 3rem;
  justify-content: space-around;
}
.infomaps .infomapas-left {
  flex: 1;
}

.need {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  padding: 85px;
  border: 0.5px solid black;
  background-image: url(../img/NamiLuffyZoro.png);
  background-size: cover;
  background-position: center;
}
.need .text {
  padding: 10px 0 10px 0;
  margin: 10px;
}
.need .textinfo {
  padding: 50px;
  font-size: 18px;
}

.bforms {
  max-width: 600px;
  margin: 0 auto;
  padding-inline: 1.5rem;
  padding-bottom: 3rem;
}

@media (max-width: 1024px) {
  .contenedorvideos {
    display: block;
  }
  iframe {
    width: 820px;
    height: 320px;
    padding-left: 200px;
  }
  .flexmapa {
    padding: 0 190px 0 0;
  }
}
@media (max-width: 768px) {
  .innerdisplay {
    transform: translate(-50%, -125%);
  }
  .codecraft {
    padding-left: 100px;
    padding-right: 100px;
  }
  .video2 {
    width: 480px;
    height: 280px;
  }
  .footpage {
    padding-left: 0;
  }
  .slider {
    padding-left: 100px;
    padding-right: 100px;
  }
  .contenedorvideos {
    display: block;
  }
  .grids {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  iframe {
    width: 670px;
    height: 320px;
    padding-left: 100px;
  }
  .flexmapa {
    padding: 0 80px 0 0;
  }
}
@media (max-width: 576px) {
  .codecraft {
    padding-left: 50px;
    padding-right: 50px;
  }
  .art {
    display: grid;
    padding: 0;
    padding-top: 1.5rem;
  }
  .art-left,
  .art-right {
    text-align: center;
  }
  .who {
    padding-left: 50px;
    padding-right: 50px;
  }
  .slider {
    padding-left: 50px;
    padding-right: 50px;
  }
  .grids {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  iframe {
    width: 520px;
    height: 260px;
    padding-left: 50px;
  }
  .flexmapa {
    padding: 0 50px 0 0;
  }
}
@media (max-width: 425px) {
  .header {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
  }
  .logo {
    padding-left: 30%;
    width: 70%;
  }
  .menu {
    display: grid;
  }
  .leading {
    font-size: 10px;
  }
  .video2 {
    width: 360px;
    height: 200px;
  }
  iframe {
    width: 380px;
    height: 200px;
    padding-left: 50px;
  }
  .flexmapa {
    padding: 0 40px 0 0;
  }
  .need {
    transform: scale(0.8);
  }
}/*# sourceMappingURL=estilos.css.map */