* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/*------------------------HEADER------------------------*/
.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

.logo {
    cursor: pointer;
}

.ilogo {
    border-radius: 50%;
    width: auto;
    transition: all 0.3s;
}

.ilogo:hover {
    transform: scale(1.1);
}

.ulink {
    display: inline-block;
    padding: 0 20px;
}

.ulink:hover {
    transform: scale(1.1);
}

.pagesup {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Poppins';
}

.pagesup:hover {
    color: #ffbc0e;
}

.menu {
    text-align: center;
    padding: 20px;
}

/*------------------------HEADER------------------------*/
/*------------------------MAIN------------------------*/

.contvideo {
background-color: #131928;
}

.video {
    width: 100%;
}

.updisplay {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 1;
    color: white;
    font-size: 20px;
    align-self: center;
}

.innerdisplay {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-275%);
}

.leading {
    width: auto;
    padding: 10px;
    text-align: center;
    place-self: center;
    font-size: 32px;
    font-size: 5rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    margin: 0;
}

.paragraph {
    font-size: 22px;
    padding: 1rem;
    text-align: center;
    place-self: center;
    justify-content: center;
    width: 400px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
}

.underline {
    height: 4px;
    background-color: rgb(255, 0, 0);
    bottom: 0;
    width: 25%;
    z-index: 3;
    pointer-events: none;
    transition: 0.35s;
}

.pagesdown {
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
}

.fhooter {
    width: auto;
    background-color: #131928;
    padding: 40px;
}

.linkfoot {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 20px;
    padding: 1rem;
    font-size: 12px;
    margin: 0;
}

.vertbar {
    color: white;
    font-size: 1rem;
}

.copyright {
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 12px;
    font-family: 'Poppins';
    margin: 0;
}

.iconsocial {
    color: white;
    list-style-type: none;
}

.linksocial {
    text-decoration: none;
    display: flex;
    padding: 1rem;
    justify-content: center;
    gap: 20px;
    margin: 0;
}

.barraimagen {
    width: 100%;
}

.who {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
}

.codecraft {
    justify-content: center;
    text-align: justify;
    max-width: fit-content;
    padding: 25px 200px 25px 200px;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    font-size: 22px;
}

.mainframestore {
    display: flex;
    justify-content: center;
    padding: 20px 50px 50px 50px;
}

.art {
    display: flex;
    padding: 1rem;
}

.art-left,
.art-right {
    flex: 1;
}

.imgdoble {
    max-width: 80%;
}

.footpage {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    padding: 15px;
    font-weight: normal;
    width: fit-content;
}

.artprofile {
    color: black;
}

.name-title {
    font-family: 'Montserrat', sans-serif;
    padding: 0 1rem 1rem 0;
}

.descripcion {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    padding: 0 10rem 1rem 0;
    line-height: 25px;
}

.need {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 85px;
    border: .5px solid black;
    background-image: url(../img/NamiLuffyZoro.png);
    background-size: cover;
    background-position: center;

}

.text {
    padding: 10px 0 10px 0;
    margin: 10px;
}

.textinfo {
    padding: 50px;
    font-size: 18px;
}

.infomaps {
    display: flex;
    padding: 3rem;
    justify-content: space-around;
}

.infomapas-left,
.infomapas-right {
    flex: 1;
}

.contact {
    display: flex;
    padding: 0 20rem 2rem 20rem;
}

.contact-left,
.contact-right {
    flex: 1;
}

.cont,
.mens {
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    font-size: 14px;
}

#nombre,
#email,
#asunto,
#mensaje {
    background-color: transparent;
}

.send {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: .5rem;
    display: inline-block;
    border-radius: .5rem;
}

.contenedorvideos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 50px;
}

.artstation {
    padding: 20px;
    margin-left: 200px;
    text-align: center;
    font-size: 1rem;
    color: black;
}

.redes {
    text-decoration: none;
    color: white;
}

.bforms {
    max-width: 600px;
    margin: 0 auto;
    padding-inline: 1.5rem;
    padding-bottom: 3rem;
}

.flexmapa{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
}

.mapa {
    width: 100%;
}

.github {
    color: black;
}

.slider {
    padding: 25px 200px 100px 200px;
}

.grids {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}



@media (max-width: 768px) {

    .innerdisplay {
        transform: translate(-50%,-125%);
    }

    .codecraft {
        padding-left: 100px;
        padding-right: 100px;
    }

    .video2 {
        width: 480px;
        height: 280px;
    }

    .footpage {
        padding-left: 0;
    }

    .slider {
        padding-left: 100px;
        padding-right: 100px;
    }

    .contenedorvideos {
        display: block;
    }

    .grids {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .flexmapa {
        padding: 0 80px;
    }

}

@media (max-width: 576px) {

    .codecraft {
        padding-left: 50px;
        padding-right: 50px;
    }

    .art {
        display: grid;
        padding: 0;
        padding-top: 1.5rem;
    }

    .art-left,
    .art-right {
        text-align: center;
    }

    .slider {
        padding-left: 50px;
        padding-right: 50px;
    }

    .grids {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .videos {
        padding: 10px;
        margin: 0;
    }

}