.barraimagen {
    width: 100%;
}

.who {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
}

.codecraft {
    justify-content: center;
    text-align: left;
    max-width: fit-content;
    padding: 25px 200px 25px 200px;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    font-size: 22px;

    .github {
        color: black;
    }

    @media(max-width: 768px) {
        padding-left: 100px;
        padding-right: 100px;
    }

    @media(max-width: 425px) {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.mainframestore {
    display: flex;
    justify-content: center;
    padding: 20px 50px 50px 50px;
    overflow-x: hidden;
}