.slider {
    padding: 25px 200px 100px 200px;
}

.contenedorvideos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 50px;

    @media (max-width: 1024px) {
        display: grid;
        justify-content: unset;
        overflow-x: hidden;

        .videos{
            width: 100%;
            display: block;
            }
    }

    
}

.grids {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}