@media (max-width: 1024px) {

    .contenedorvideos {
        display: block;
    }

    iframe {
        width: 820px;
        height: 320px;
        padding-left: 200px;
    }

    .flexmapa {
        padding: 0 190px 0 0;
    }
}

@media (max-width: 768px) {

    .innerdisplay {
        transform: translate(-50%, -125%);
    }

    .codecraft {
        padding-left: 100px;
        padding-right: 100px;
    }

    .video2 {
        width: 480px;
        height: 280px;
    }

    .footpage {
        padding-left: 0;
    }

    .slider {
        padding-left: 100px;
        padding-right: 100px;
    }

    .contenedorvideos {
        display: block;
    }

    .grids {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    iframe {
        width: 670px;
        height: 320px;
        padding-left: 100px;
    }

    .flexmapa {
        padding: 0 80px 0 0;
    }

}

@media (max-width: 576px) {

    .codecraft {
        padding-left: 50px;
        padding-right: 50px;
    }

    .art {
        display: grid;
        padding: 0;
        padding-top: 1.5rem;
    }

    .art-left,
    .art-right {
        text-align: center;
    }

    .who {
        padding-left: 50px;
        padding-right: 50px;
    }

    .slider {
        padding-left: 50px;
        padding-right: 50px;
    }

    .grids {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    iframe {
        width: 520px;
        height: 260px;
        padding-left: 50px;
    }

    .flexmapa {
        padding: 0 50px 0 0;
    }
}

@media (max-width: 425px) {

    .header {
        display: grid;
        justify-content: center;
        align-items: center;
        padding-bottom:0 ;
    }

    .logo{
        padding-left: 30%;
        width: 70%;
    }

    .menu {
        display: grid;
    }

    .leading {
        font-size: 10px;
    }

    .video2 {
        width: 360px;
        height: 200px;
    }

    iframe {
        width: 380px;
        height: 200px;
        padding-left: 50px;
    }

    .flexmapa {
        padding: 0 40px 0 0;
    }

    .need {
        transform: scale(.8);
    }
}